h5py==3.6.0
Keras_Applications==1.0.8
keras_metrics==1.1.0
numpy==1.22.4
opencv_contrib_python_headless==4.5.5.64
pandas==1.4.2
PyQt5==5.15.6
pyqtgraph==0.12.4
QtPy==2.1.0
scipy==1.8.1
six==1.16.0
tensorflow==2.9.0
